
/* #group_id {
    margin-left: 20px;
} */
/* .scroll-box {
     height: 160px; overflow: scroll; cursor: grab; cursor : -o-grab; cursor : -moz-grab; cursor : -webkit-grab;
} */
/* Line chart */
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}



.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}

.group_menu_left {
    float: left;
}

.group_menu_right {
    float: right;
}

#barChart {
	position:absolute;
	top:30px;
	left:450px;
	
}
#pieChart {
    position:absolute;
	top:50px;
	left:70px;
	
}

#linechart{
    position:absolute;
	top:450px;
	left:100px;
}

.piechart_text {
    font-size: 12px;
}

.slice {
    font-size: 12pt;
    font-family: Verdana;
    fill: white; 
    font-weight: bold;	
           }



.axis {
    font: 10px sans-serif;
  }
  
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    stroke-width: 1px;
  }

  .toolTip {
    position: absolute;
    display: none;
    min-width: 80px;
    height: auto;
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #6F257F;
    padding: 14px;
    text-align: center;
  }

.group_td a {
    color: rgb(47, 87, 80);
    font-weight: 100px;
}

.group_td a :hover{
    text-decoration-style: none;
}



.scroll-box::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
.scroll-box::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
}

.tran_edit_delete {
    padding-top: 1.5em;
}

.tran_view_val.owes{
    font-weight: bold;
    color: crimson;
}
.owes_share {
    color: crimson;
}

.hidden_row_div {
    display: inline-block;
    padding: 10px;
}

.hidden_row td p
{
    font-family: cursive; 
}


.hidden_row td
{
    background-color: rgb(252, 253, 253); 
    border-block-end-style: ridge;
}

.hidden_row
{
 display:none;

}

.group_td.left-scroll {
    overflow-y: auto;
    height: 20px;
}

.scroll-box {
    overflow-y:auto;
    height: 500px;
   
}

.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}

.people_names {
    font-size: 16px;
    color: slategrey;
    font-family: cursive;
}

.tran_view_text{
    font-size: 12px;
    color: slategrey;
    font-family: cursive;
}

.tran_view_val {
    font-weight: bold;
    color: cadetblue;
}
.tran_view_date.group_id{
    padding-top: 2.5em;
    color: cadetblue;
    font-weight: bold;
}

btn.btn-success.btn-float-right{
    float: right;
}
.w3-panel.tran_panel{
    margin-top: 2px;
}
#group_menu {
    color: aliceblue;
    padding-left: .6em
    
}

#group_li{
    width: 5px;
}

.table-bordered {
  height: 100px;
  overflow: auto;
}

.sidebar-nav {
  height: 100%;
}

.image_frame{
	border-radius: 50%;
}

.outer-wrapper { 
display: table;
width: 100%;
height: 100%;
}

.inner-wrapper {
  display:table-cell;
  vertical-align:middle;
  padding:15px;
}
.login-btn { position:fixed; top:15px; right:15px; }



.login_div, .sign_up_div {
    position: absolute;

    width: 300px;
    height: 300px;
    border: 1px;
    /* Center form on page horizontally & vertically */
    top: 40%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
}

.login_form, .sign_up_form {
    width: 300px;
    height: 300px;
    border-radius: 10px;

    margin: 0;
    padding: 0;
}

.sign_up_div > h1 {
    margin-left: 75px; 
}

.login_div > h1 {
    margin-left: 23px; 
}

.btn.btn-success {
    width: 100%

}

.btn.btn-success:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    width: 100%
}

.btn.btn-primary {
    width: 100%

}

.btn.btn-primary:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    width: 100%
}



input[type="checkbox"] {
    width: 20px;
    height: 20px;
}


.py-5.bg-dark {
    margin-top: 20px;
    font-family: sans-serif;
    font-weight: bold; 

}


#useralert {
    font-weight: normal;
}

#passalert{
    font-weight: normal;
}

#checkalert {
    font-weight: normal;
    color: red;
}


/* Main navbar */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
  }

/* make sidebar nav vertical */



#sidebar {
 
    height:100%;
    position:fixed;
    right:0;
  }


.toggler{
    padding-top: 10px;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}
    
/* Set gray background color and 100% height */
.sidenav {
  /* padding-top: 20px; */
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;} 
}