{% extends 'site/layout.html' %}

{% block body %}
<div class="index_image">
  
	  <div class="jumbotron text-center">	  
	    <h1>BillsTracker</h1>
	    <p> This app is designed and developed as part of IT 680 Software Engineering Project. The idea behind this app is to create an interface where people
          can register, create or join groups to split and keep track of their bills.</p>
          <img class="image_frame" src="{{ url_for('site.static', filename='img/billsTracker.jpg') }}" width="400" height="400" alt="">
    </div>
  </div>
  

  <!-- Footer -->
  <!-- <footer class="py-5 bg-dark">
      <p class="m-0 text-center text-white">Copyright &copy; MankatoExpenses 2017</p>
    /.container 
  </footer> -->


{% endblock %}