{% extends 'site/layout.html' %}

{% block body %}


  <div class="col-sm-2 sidenav">
    {% include 'site/includes/_vnavbar.html' %}
  </div>
 

  <div class="col-sm-8 text-left"> 
      
    <div class="w3-container w3-teal">
      <div class="row">
        <div class="col-md-8">
          {% for item in data['group'] %}
          <h1>{{item.group_name|title}}</h1>
          {% endfor %}
        </div>
        
        <div class="col-md-3"><a href="/trans_form" class="btn btn-success btn-float-right">New bill</a>
        </div>
      </div> 
      <div class="row">
        <div class="col-md-6 test2">
              {% for item in data['group_total'] %}
              <p>Group total: </p>
              {% if item.total %}
              <p>${{item.total}}</p>
              {% else %}
              <p>$0</p>
              {% endif %}
              {% endfor %}
        </div>

      <div class="col-md-6 test">
            <div id="group_details_menu_2_div">
            {% for item in data['user_group_total'] %}
            <p >Your transactions: </p>
            {% if item.total %}
            <p >${{item.total}}</p>
            {% else %}
            <p >$0</p>
            {% endif %}
            </div>
          

            <div id="group_details_menu_2_div2">
              <p>You Spent:</p>
              {% if item.your_expense %}
              <p >${{item.your_expense|abs}}</p>
              {% else %}
              <p > $0</p>
              {% endif %}
              {% endfor %}
          </div>
        </div>
     </div>
    </div>
    
    <div class="scroll-box">
    <div ng-controller="MyController">
      
          <table id="transaction_table" class="w3-table-all w3-card">
          <tbody>
           {% for item in data['trans'] %}
          
           <tr class="transaction_display" onclick="show_hide_row('{{item.transaction_id}}');" data-value="{{item.transaction_id}}">
            
            <td class="tran_view_date group_id" >{{item.manual_date.strftime('%B, %y')}}</td>
             <!-- <td><p class="tran_view_text">Item</p><p class="tran_view_val">{{item.item}}</p></td> class="scroll-box"-->
             <td class="tran_view_date group_id">{{item.item|title}}</td> 
             <td><p class="tran_view_text">Paid by</p><p class="tran_view_val">{{item.name|title}}</p></td>
             <td><p class="tran_view_text">Total paid</p><p class="tran_view_val">${{item.amount}}</p></td>
             {% if item.you_lent %}
             <td><p class="tran_view_text ">Money lent</p><p class="tran_view_val owes">${{item.you_lent|abs}}</p></td>
             {% else %}
             <td><p class="tran_view_text ">Money lent</p><p class="tran_view_val owes">$0</p></td>
            {% endif %}
             <td>
                <p class="tran_view_text">Status</p><p class="tran_view_val" contenteditable='true'>{{item.status}}</p></td> 
         
              <!-- <td class="transaction_display" onclick="show_hide_row('{{item.transaction_id}}');" id="trans_dis" data-value="{{item.transaction_id}}"><i class="fas fa-plus"></i></td> -->

              <td>  
              <p  class="tran_edit_delete"> 
                     
              <a href="/edit_transaction/{{item.transaction_id}}"><i class="fas fa-edit"></i></a>
              <a href="/delete_transaction/{{item.transaction_id}}"><i class="fas fa-trash-alt"></i></a>     
              </p>      
              </td>
           </tr>

           <tr id="{{item.transaction_id}}" class="hidden_row" >
              <td colspan="5">
                <div class="hidden_row_div">
                   <p ng-repeat="data in Content">[[data.name|capitalize]]</p>                   
                </div>

                <div class="hidden_row_div">
                <p ng-repeat="data in Content">owes</p>
                </div>

                <div class="hidden_row_div">
                  <p class="owes_share" ng-repeat="data in Content">$[[data.share_amount]]</p>
                </div>
              </td>           
            </tr>
          </div>
           {% endfor %}  
        </tbody>
       </table>
      </div></div></div>
    {% endblock %}
  

{% block right_nav %}
  <div class="col-sm-2">
      <div class="scroll-box3">
      <table class="w3-table-all w3-card" >
      <div class="w3-teal">
        <thead>
          <th>People in group</th>
        </thead>
      </div>
        <tbody>
          {% for item in data['group_people'] %}
          <tr>
          <td class="people_names">{{item.name}}</td>
          </tr>
          {% endfor %}
          
        </tbody>
      </table>     
      </div>
      <!-- <table class="w3-table-all w3-card" >
      <div class=" w3-teal">
        <thead>
          <th colspan="2">Group Expense</th>
        </thead>
      </div>
        <tbody>
          {% for item in data['group_total'] %}
          <tr>
          <td class="people_names">Total:</td>
          {% if item.total %}
          <td class="tran_view_val">${{item.total}}</td>
          {% else %}
          <td class="tran_view_val">$0</td>
          {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>  -->

      <!-- <table class="w3-table-all w3-card" >
      <div class="w3-teal">
        <thead>
          <th colspan="2">Your summary</th>
        </thead>
      </div>
        <tbody>
          {% for item in data['user_group_total'] %}
          <tr>
          <td class="people_names">Your total:</td>
          {% if item.total %}
          <td class="tran_view_val"> ${{item.total}}</td>
          {% else %}
          <td class="tran_view_val"> $0</td>
          {% endif %}
          </tr>
          <tr>
          <td class="people_names">Lent:</td>
          {% if item.your_expense %}
          <td class="tran_view_val owes"> ${{item.your_expense|abs}}</td>
          {% else %}
          <td class="tran_view_val owes"> $0</td>
          {% endif %}
          </tr>
          {% endfor %}

          <tr>
            <td class="people_names">You owe:</td>
            {% if user_expense.shr_amount %}
            <td class="tran_view_val">${{user_expense.shr_amount}}</td>
            {% else %}
            <td class="tran_view_val">$0</td>
            {% endif %}
            </tr>
        </tbody>
      </table> -->

      <!-- <div class="scroll-box2">
      <table class="w3-table-all w3-card">
          <div class="w3-teal">
            <thead>
              <th colspan="2">You owe:</th>
            </thead>
          </div>
            <tbody>
              {% for item in data['user_group_total'] %}
              <tr>
                <td class="people_names">{{user_expense.name}}</td>
                {% if user_expense.shr_amount %}
                <td class="tran_view_val">${{user_expense.shr_amount}}</td>
                {% else %}
                <td class="tran_view_val">$0</td>
                {% endif %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
          </div> -->


      <div class="scroll-box2">
      <div ng-controller="owingsController">
      <table class="w3-table-all w3-card" >
        <div class="w3-teal">
          <thead>
            <th colspan="2">Who owes you:</th>
          </thead>
        </div>
          <tbody>
            <tr ng-repeat="data in OwingContent">
              <td class="people_names"  >[[data.name|capitalize]]</td>
              <td class="tran_view_val" >$[[data.amount]]</td> 
            </tr>
          </tbody>
        </table>
      </div>
      </div>

    </div>

{% endblock %}