{% extends 'site/layout.html' %}

{% block body %}
	<script type="text/javascript" src="{{ url_for('site.static', filename='js/main.js') }}"></script>
	
	<div class="row">
			{% include 'site/includes/_vnavbar.html' %}
		<div class="col-md-10 ">
			<div class="col-sm-9 col-md-8">	
				<div class="w3-container w3-teal">
				<h3>New Transaction</h3>
				</div>
			</br>
				{% from "site/includes/_formhelpers.html" import render_field %}
				<form method="POST" action="" name="thisForm" id="transaction_form" onsubmit="return validateForm()">
					
						<div class="form-group">
							{{render_field(form.manual_date, class_="form-control")}}
						</div>
						<div class="form-group">
							{{render_field(form.item, class_="form-control")}}
						</div>
						<div class="form-group">
							<label>Payer</label>
							<select class="form-control" name="payer">
							  <option value="" disabled selected>Select your option</option>	
							  {% for item in data %}
							  <option value="{{ item.name }}">{{ item.name }}</option>
							  {% endfor %}
							</select>
						</div>
						<div class="form-group">
							{{render_field(form.amount, class_="form-control")}}
						</div>

						<div class="form-group">
							{{render_field(form.comment, class_="form-control")}}
						</div>
						<div class="form-group">
							<label>Status</label>
							<select class="form-control" name="status">
							  <option value="" disabled selected>Select your option</option>	
							  <option value="unpaid">Unpaid</option>
							  <option value="paid">Paid</option>
							  <option value="pending">Pending</option>
							</select>							
						</div>
						<input type="submit" class="btn btn-success" value="submit">								
			</div>


			<div class="col-xs-3 col-md-4">	
					<div class="w3-container w3-teal">			
					<h3>Split with</h3>
					</div>
					<table class="w3-table-all w3-card">
					  <thead>
					    <tr>
					      <th>Person</th>
					      <th>Include</th>
					    </tr>
					  </thead>
					  <tbody>
					 	{% for item in data %}
					   <tr>
							 <td for="{{ item.user_id }}" id="selectBox" onchange="changeFunc();">{{ item.name }}</td>
					     <td><input type="checkbox" id="checkbox" name="person" value="{{ item.user_id }}"></td>
					    {% endfor %}	
					  </tr>
					  </tbody>
					  <b id="checkalert"></b>
					</table>

			</form>		
		</div>
	</div>
	<script type="text/javascript">

		function changeFunc() {
		 var selectBox = document.getElementById("selectBox");
		 var selectedValue = selectBox.options[selectBox.selectedIndex].value;
		 alert(selectedValue);
		}
	 </script>

	<!-- <footer class="py-5 bg-dark">
	      <p class="m-0 text-center text-white">Copyright &copy; MankatoExpenses 2017</p>
	    /.container
	 </footer> -->

{% endblock %}

{% block footer %}
	
{% endblock %}


