{% extends 'site/layout.html' %}

{% block body %}

    <div class="container">
      <select id="nest_input">
          <option value="DECISION_NET">Chart by decision net</option>
          <option value="DESCRIPTION">Chart by description</option>
      </select>
  <div id="event"></div>
</div>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
      <p class="m-0 text-center text-white">Copyright &copy; MankatoExpenses 2017</p>
    <!-- /.container -->
  </footer>


	<link src="{{ url_for('site.static', filename='js/viz.js') }}">
<script>
//user_count_chart();



</script>


{% endblock %}