<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>



	<div class="card" >
		<ul class="list-group list-group-flush">
				<div class="list-group-item w3-blue-grey w3-hover-shadow ">
					<div id="group_cell"><a id='group_menu' href="/dashboard" >Dashboard</a> 
					</div>
				</div>
		</ul>
	</div>

	<div class="card" >
			<ul class="list-group list-group-flush">
					<div class="list-group-item w3-green w3-hover-shadow ">
						<div id="group_cell">Group
							<div class="w3-right"><a id='group_menu' href="/create_group" >Create</a></div>
							<div class="w3-right"><a id='group_menu' href="/joingroup" >Join</a></div>
						</div>
					</div>
			
				<div id="mypanel">
						<div class="scroll-box"></div>
				</div>
			
			</ul>
		</div>
	

	{% if session.group_id %}
		<div class="card">
				<div class="card-header">
				</div>

				<ul class="list-group list-group-flush">
						<div class="list-group-item w3-green w3-hover-shadow ">
							<div id="group_cell"><a id='group_menu' href="/viz" >Charts</a>
							</div>
							</div>
						<div id="mypanel"></div>
				</ul>
			</div>
		
	{% endif %}



<!-- 
    <div class="col-sm-3 col-md-2 sidebar">
	      <div class="navbar " role="navigation">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	        </div>

	        <div class="navbar-collapse collapse sidebar-navbar-collapse">
				<div class="card" style="width: 18rem;">
					<div class="card-header">
					</div>

					<ul class="list-group list-group-flush">
							<div class="list-group-item w3-blue-grey w3-hover-shadow ">
								<div id="group_cell"><a id='group_menu' href="/dashboard" >Dashboard</a> 
								</div>
							</div>
					</ul>
				</div>
			</div>
			<div class="navbar-collapse collapse sidebar-navbar-collapse">
				<div class="card" style="width: 18rem;">
						<div class="card-header">
						</div>

						<ul class="list-group list-group-flush">
								<div class="list-group-item w3-green w3-hover-shadow ">
									<div id="group_cell">Group
										<div class="w3-right"><a id='group_menu' href="/create_group" >Create</a></div>
										<div class="w3-right"><a id='group_menu' href="/joingroup" >Join</a></div>
									</div>
									</div>
								<div id="mypanel"></div>
						</ul>
					</div>
				</div>
				{% if session.group_id %}
				<div class="navbar-collapse collapse sidebar-navbar-collapse">
					<div class="card" style="width: 18rem;">
							<div class="card-header">
							</div>
	
							<ul class="list-group list-group-flush">
									<div class="list-group-item w3-green w3-hover-shadow ">
										<div id="group_cell"><a id='group_menu' href="/viz" >Charts</a>
										</div>
										</div>
									<div id="mypanel"></div>
							</ul>
						</div>
					</div>
				{% endif %}
				</div>
        </div>
 -->
